* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
}

.navbar {
    background: linear-gradient(to top left, powderblue, lightgreen);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navbar-logo {
    width: 190px;
    height: 152px;
    border: 2px solid lightgreen;
}

.navbar-logo-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.create-button-item {
    padding: 15px 30px;
    background-color: gainsboro;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: grey;
    text-shadow:0 1px 0 #2f6627;
}

.create-button-item:hover {
    background-color: lightblue;
}

.create-button-item:active {
    position: relative;
    top: 1px;
}

.register-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-desk {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 1200px;
    height: 760px;
    margin-top: 50px;
    background-color: rgba(183, 196, 39, 0.25);
    box-shadow: 15px 15px 19px -8px dimgrey;

}

.register-text {
    position: absolute;
    opacity: 0.5;
    font-family: Verdana, Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #485863;
}

.modal-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: #b3d4fc;
    border: 1px solid #888888;
    border-radius: 5px;
    z-index: 11;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    font-weight: bold;
    color: lightseagreen;
    border: none;
    background: transparent;
}

.doctor-options {
    background: lightgrey;
    width: 200px;
    font-size: 17px;
    color: grey;
    border: 1px solid #ccc;
    height: 45px;
    margin-top: 15px;
}

.doctor-options:hover {
    background-color: #9ECAD4;
}

.comments-input {
    width: 400px;
    height: 40px;
    border: 1px solid #45b39d;
    border-radius: 5px;
    margin: 15px 0;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button {
    padding: 10px 60px;
    background: gainsboro;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
    text-shadow:0 1px 0 #2f6627;
    margin-bottom: 10px;
}

.register-button:hover {
    background-color: lightblue;
}

.register-button:active {
    position: relative;
    top: 1px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-form input {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #45b39d;
    border-radius: 4px;
}

.register-note {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 150px;
    background-color: gainsboro;
    border: 2px solid #888888;
    border-radius: 7px;
}

.title-container {
    padding-left: 15px;
    padding-top: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.name-title {
    font-size: 25px;
    color: #1c2a33;
}

.doctor-title {
    font-size: 20px;
    color: grey;
    margin-top: 15px;
}

.show-more-button {
    background-color: #45b39d;
    border: 1px solid dimgrey;
    border-radius: 5px;
    color: #ACD8AD;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.hide-info-button {
    background-color: lightgreen;
    border: 1px solid dimgrey;
    border-radius: 5px;
    color: dimgrey;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.extra-info-text {
    color: #485863;
    font-size: 20px;
    margin-left: 15px;
    padding: 10px 0;
}